h1 {
    text-align: center;
}

table {
    width: 70%;
    margin: 0 auto;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color:#eee;
}

tr:nth-child(even) {
    background-color: #fff;
}

.icon {
    height: 40px;
    width: 40px;
}